{% extends 'base.html' %}
{% load i18n %}
{% block content %}

        <div class="container special_login">
        <div class="centering">

         <h1>{% trans "Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания." %}</h1>
            <form class="login" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ form.errors|escape }}</strong>
                    </div>
                    {% endif %}
                <input class="primaryAction login-input" type="submit" value="{% trans "Поменять" %}">
            </form>
        </div>
    </div>
{% endblock %}
