{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container messages" style="height: 100%;display: flex;justify-content: center;align-items: center;">
        <div class="main_position_form">

            <h1>{% trans "Ваш пароль был сохранен. Теперь вы можете войти." %}</h1>

            <a href="{% url 'login' %}" type="button" class="btn_invite" id="invite" data-url="" >{% trans "Войти" %}</a>

        </div>
    </div>
{% endblock content %}