{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container messages" style="height: 100%;display: flex;justify-content: center;align-items: center;">
        <div class="main_position_form">

            <h1>{% trans "Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом." %}</h1>

            <a href="{% url 'homepage' %}" type="button" class="btn_invite" id="invite" data-url="" >{% trans "Вернуться" %}</a>

        </div>
    </div>
    
{% endblock content %}
