{% load font_awesome %}
{% load i18n %}
{% block additional_style %}
    <style>
    .upper_pos{
        background: url("{{ data.photo.url }}");
    }
    </style>
{% endblock additional_style %}
{% block inside %}
        <div class="main_position">
			<div class="upper_pos">
				<div class="contest_tag">
					{% trans "КОНКУРС" %}
				</div>
				<div class="contest_title">
                    {{ data.title }}
				</div>
				<div class="contest_date">
					{{ data.start_date }}-{{ data.end_date }}
				</div>
                {% if data.is_active and data.coming is False %}
				<div class="contest_ending">
                    {% trans "Активный конкурс" %}
                    {% if user.is_authenticated and user.email != '' %}
                    <a href="{% url 'form' data.id %}" class="btn_invite" id="invite" data-url="" >{% trans "Принять участие" %}</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn_invite" id="invite" data-url="" > {% trans "Принять участие" %}</a>
                    {% endif %}
                </div>
                {% elif data.is_active is False and data.coming is False %}
                <div class="contest_ending">
                {% blocktrans %}Этот конкурс уже закончился, но скоро будут новые!{% endblocktrans %}
				</div>
                {% elif data.is_active is False and data.coming %}
                 <div class="contest_ending">
                 
				</div>
                {% endif %}
            </div>
            <div class="under_pos">
                {% if data.is_active %}
				    <a href="{% url 'inside' data.id%}" class="changing_links">{% trans "О конкурсе" %}</a>
                    {% if more.count == 0 %}
                    <a href="{% url 'nominee' data.id %}" class="changing_links last">{% trans "Работы участников" %}</a>
                    {% else %}
                    <a href="{% url 'nominee' data.id %}" class="changing_links">{% trans "Работы участников" %}</a>
                    {% endif %}
                {% elif data.is_active is False and data.coming is True %}
				    {% if more.count == 0 %}
				        <a href="{% url 'inside' data.id%}" class="changing_links last">{% trans "О конкурсе" %}</a>
                    {% else %}
				        <a href="{% url 'inside' data.id%}" class="changing_links">{% trans "О конкурсе" %}</a>
                    {% endif %}
                {% elif data.is_active is False and data.coming is False%}
				    <a href="{% url 'inside' data.id%}" class="changing_links">{% trans "О конкурсе" %}</a>
                    <a href="{% url 'nominee' data.id %}" class="changing_links">{% trans "Работы участников" %}</a>
                    {% if more.count == 0 %}
                        <a href="{% url 'winners' data.id%}" class="changing_links last">{% trans "Победители" %}</a>
                    {% else %}
                      <a href="{% url 'winners' data.id%}" class="changing_links">{% trans "Победители" %}</a>
                    {% endif %}
                {% endif %}
                {% for i in more %}
                    {% if forloop.counter == more.count %}
                    <a href="{% url 'mores' data.id i.id %}" class="changing_links last">{{ i }}</a>
                     {% else %}
                    <a href="{% url 'mores' data.id i.id %}" class="changing_links">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                </div>
		</div>
{% endblock inside %}
