{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
		{% include 'contest/base.html' %}
		<div class="bottom_wrapper">

			<div class="page_content">
				<div class="title_page_mini">
					{% trans "Фавориты" %}
				</div>
				<div class="nominees_filter">
					<div class="nominees_filter_element active" data-order="">
						<a href="">{% trans "Новые" %}</a>
					</div>
					<div class="nominees_filter_line nominees_filter_line_left"></div>
					<div class="nominees_filter_element" data-order="order=popular">
						<a href="">{% trans "Популярные" %}</a>
					</div>
				</div>
                <div class="row">
                    {% for nom in favorites %}
                    <div class="col-md-4 col-sm-6 col-12">
                        <a href="{% url 'nominee_detail' nom.id %}">
                            <div class="cards">
                                <img src="{{ nom.main_image }}" alt="photo">
                                <div class="inside_text">
                                    {{ nom.author }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
		</div>
	</div>
{% endblock content %}