{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data" class="for_me">
            {% csrf_token %}
            {% for field in form %}
                {% if field.field.required %}
                    <span class="required">{{ field.label }}*</span>
                       {{ field }}
                {% else %}
                    {{ field.label }} {{ field }}
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endfor %}
            <div class="g-recaptcha" data-sitekey="{{ SECRET_KEY }}"></div>
            <input href="" type="submit" class="btn_invite btn_invite_form" id="invite" data-url="" value="{% trans "Принять участие" %}"/>
            <div class="input-group">
        </div>
        </form>
    </div>
{% endblock %}
