{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    	<div class="container index_container" style="height:max-content;">

		<div class="contest">
			<div class="title_page">
				{% trans "Конкурсы" %}
			</div>

			<div class="row">
                {% for contest in contests %}
				<div class="col-md-4 col-sm-6 col-12" style="height: 400px">
					<a href="{% url 'inside' contest.id %}">
						<div class="cards">
							<img src="{{ contest.photo.url }}" alt="photo">
							{% if contest.is_active and contest.coming is False %}
                                <div class="status" style="color: lime; z-index: 2;">
                                    {% trans "Активный конкурс" %}
                                </div>
                            {% elif contest.is_active is False and contest.coming %}
                                <div class="status">
								    {% trans "Будущий конкурс" %}
                                </div>
                            {% elif contest.is_active is False and contest.coming is False %}
                                <div class="status">
								    {% trans "Завершен" %}
                                </div>
                            {% endif %}
							<div class="inside_text_in_index">
                                {{ contest.title }}
							</div>
							<div class="date">
								{{ contest.start_date }}<br>{{ contest.end_date }}
							</div>
						</div>
					</a>
				</div>
                {% endfor %}




			</div>
		</div>

	</div>

{% endblock content %}