{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
 	<div class="container">
    {% include 'contest/base.html' %}
		<div class="bottom_wrapper">
            <div class="links_wrapper">
				<a href="https://www.facebook.com/sharer/sharer.php?u=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-facebook"></i>
						</div>
					</div>
				</a>
				<a href="https://vk.com/share.php?noparse=true&image=https://natgeo-photocontest.kz{{data.photo.url}}&url=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
                            <i class="fab fa-vk"></i>
						</div>
					</div>
				</a>

				<a href="https://connect.ok.ru/offer?url=https://natgeo-photocontest.kz{{ request.get_full_path }}&imageUrl=https://natgeo-photocontest.kz{{ data.photo.url }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-odnoklassniki"></i>
						</div>
					</div>
				</a>
				<a href="http://twitter.com/share?text=&url=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-twitter"></i>
						</div>
					</div>
				</a>
			</div>



			<div class="page_content">
				<div class="title_page_mini">
					{% trans "О конкурсе" %}
				</div>

				<div class="rich_text mb-3">{{ data.description|safe }}<br>
					</div>
				</div>

			</div>

		</div>
	</div>
{% endblock content %}