{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container special_login">
        <div class="centering">

            <h1>{% trans "ВОЙТИ" %}</h1>
            <p>{% trans "Если вы не зарегистрированы, вы можете" %}<a href="{% url 'signup' %}"> {% trans "присоединиться к нам" %}</a> {% trans "прямо сейчас" %}.</p>
            <p><a href="{% url 'reset_password' %}">{% trans "Забыли пароль?" %}</a></p>
            <form class="login" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_username">{% trans "Имя пользователя:" %}</label>
                {{ form.username }}
                <label for="id_password">{% trans "Пароль:" %}</label>
                {{ form.password }}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                            <strong>{{ field.errors }}</strong>
                            {% endfor %}
                        </div>
                    {% endif %}
                <input class="primaryAction login-input" type="submit" value="{% trans "ВОЙТИ" %}">
            </form>
        </div>
    </div>
{% endblock content %}
