{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container messages" style="height: 100%;display: flex;justify-content: center;align-items: center;text-align: center;">
        <div class="main_position_form">
            <h1>{% trans "Ваша работа принята!" %}
                <br>
                {% trans "После модерации будет опубликована на сайте!" %}
            </h1>
            <a href="{% url 'homepage' %}" type="button" class="btn_invite" id="invite" data-url="" >{% trans "Вернуться" %}</a>
        </div>
    </div>
{% endblock content %}