{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
		{% include 'contest/base.html' %}
		<div class="bottom_wrapper">

			<div class="page_content">
				<div class="title_page_mini">
                    {% if participant_type == 1 %}
					{% trans "Работы участников" %}
                    {% elif participant_type == 2 %}
                    {% trans "Фавориты" %}
                    {% endif %}
				</div>
                {% if tags.count >= 1 %}
                    {% if participant_type == 1 %}
                        <div class="nominess_items">
                            <div class="nominees_item" data-filter="">
                                <a href="{% url 'nominee' data.id %}">{% trans "Все номинации" %}</a>
                            </div>
                                {% for tag in tags %}
                                    <div class="nominees_item" data-filter="filter=landscapes">
                                        <a href="{% url 'nominee' data.id %}?filter={{ tag.id }}">{{ tag }}</a>
                                    </div>
                                {% endfor %}
                        </div>
                    {% else %}
                        <div class="nominess_items">
                            <div class="nominees_item" data-filter="">
                                <a href="{% url 'favorite' data.id %}">{% trans "Все номинации" %}</a>
                            </div>
                                {% for tag in tags %}
                                    <div class="nominees_item" data-filter="filter=landscapes">
                                        <a href="{% url 'favorite' data.id %}?filter={{ tag.id }}">{{ tag }}</a>
                                    </div>
                                {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
				<div class="nominees_filter">
                {% if participant_type == 1 %}
                    {% if popular %}
                        <div class="nominees_filter_element" data-order="">
                            <a href="{% url 'nominee' data.id %}">{% trans "Новые" %}</a>
                        </div>
                        <div class="nominees_filter_line nominees_filter_line_right"></div>
                        <div class="nominees_filter_element active" data-order="order=popular">
                            <a href="{% url 'nominee' data.id %}?popular=True">{% trans "Популярные" %}</a>
                        </div>
                    {% else %}
                        <div class="nominees_filter_element active" data-order="">
                            <a href="{% url 'nominee' data.id %}">{% trans "Новые" %}</a>
                        </div>
                        <div class="nominees_filter_line nominees_filter_line_left"></div>
                        <div class="nominees_filter_element" data-order="order=popular">
                            <a href="{% url 'nominee' data.id %}?popular=True">{% trans "Популярные" %}</a>
                        </div>
                    {% endif %}
                {% else %}
                    {% if popular %}
                        <div class="nominees_filter_element" data-order="">
                            <a href="{% url 'favorite' data.id %}">{% trans "Новые" %}</a>
                        </div>
                        <div class="nominees_filter_line nominees_filter_line_right"></div>
                        <div class="nominees_filter_element active" data-order="order=popular">
                            <a href="{% url 'favorite' data.id %}?popular=True">{% trans "Популярные" %}</a>
                        </div>
                    {% else %}
                        <div class="nominees_filter_element active" data-order="">
                            <a href="{% url 'favorite' data.id %}">{% trans "Новые" %}</a>
                        </div>
                        <div class="nominees_filter_line nominees_filter_line_left"></div>
                        <div class="nominees_filter_element" data-order="order=popular">
                            <a href="{% url 'favorite' data.id %}?popular=True">{% trans "Популярные" %}</a>
                        </div>
                    {% endif %}
                {% endif %}
				</div>
                <div class="row">
                    {% for participant in participant_works %}
                    <div class="col-md-4 col-sm-6 col-12" style="height: 400px">
                        <a href="{% url 'nominee_detail' participant.id %}">
                            <div class="cards">
                                <img src="{{ participant.image.url }}" alt="photo">
                                <div class="inside_text">
                                    <span style="color: white !important;font-size: 20px;">{{ participant.title }}</span>
                                    {{ participant.nominees.author.first_name }}
                                    {{ participant.nominees.author.last_name }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
		</div>
	</div>
{% endblock content %}