{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load font_awesome %}
{% fa_css %}
{% block content %}
    <div class="container">
		<div class="main_position">
			<div class="upper_pos nominees_inside" style="height: 1px;">
                <div class="swiper-slide">
							<div class="slider_inner">
								<a class="fancy_images" oncontextmenu="return false;"><img src="{{ object.image.url }}" alt="" oncontextmenu="return false;"/></a>
							</div>
						</div>
				</div>
			</div>
			<div class="under_pos_like">
                     <div id="like-button">
                     {% if object.nominees.contest.is_active %}
                         {% if is_active_like_button %}
					        <button type="button" class="btn_like" id="like" data-url="{% url 'like_nominee' object.id %}"><i class="fas fa-thumbs-up"></i></button>
				         {% else %}
                            <button type="button" disabled class="btn_like" id="like" data-url="{% url 'like_nominee' object.id %}"> <i class="fas fa-thumbs-up"></i></button>
                         {% endif %}
                     {% else %}

                     {% endif %}
                     </div>
		</div>
		<div class="bottom_wrapper">
            <div class="links_wrapper">
				<a href="https://www.facebook.com/sharer/sharer.php?u=https://natgeo-photocontest.kz{{ request.get_full_path }}src=sdkpreparse" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-facebook"></i>
						</div>
					</div>
				</a>
				<a href="https://vk.com/share.php?noparse=true&image=https://natgeo-photocontest.kz{{object.image.url}}&url=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
                            <i class="fab fa-vk"></i>
						</div>
					</div>
				</a>			
				<a href="http://twitter.com/share?text=&url=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-twitter"></i>
						</div>
					</div>
				</a>	
				<a href="https://connect.ok.ru/offer?url=https://natgeo-photocontest.kz{{ request.get_full_path }}" class="share_links" target="_blank">
					<div class="share-icon">
						<div class="icon_itself">
							<i class="fab fa-odnoklassniki"></i>
						</div>
					</div>
				</a>				
			</div>

			<div class="page_content_title">
                {{ object.title }}
			</div>
			<div class="author_info_inside">
				<a href="{% url 'users' object.nominees.author.id %}" class="author_info_name">
					{{ object.nominees.author.first_name }}
					{{ object.nominees.author.last_name }}
				</a>
				<div class="author_info_int">
					<div class="author_info_date">{{ object.created.date }}</div>
				</div>
			</div>
			{% if object.description != None %}
            <div class="page_content_text">
                {{ object.description }}
			</div>
        	{% endif %}
            {% if object.position != 4  %}
                {% if object.nominees.contest.is_active is False and object.nominees.contest.coming is False %}
                    <div class="favorite">
                        <div class="favorite_icon">
                            <img src="{% static 'images/cup.svg' %}" alt=""/>
                        </div>
                        <p>
                            {{ object.get_position_display }} {% trans "конкурса" %}
                            <a href="{% url 'inside' object.nominees.contest.id %}">{{ object.nominees.contest }}</a>
                        </p>
                    </div>
                {% endif %}
            {% endif %}

            </div>
			<script>
				$("a.fancy_images").fancybox();
				$("a.fancy_images").contextmenu(function() {
  				alert( "Handler for .contextmenu() called." );
				  );
			</script>
{% endblock content %}

{% block script %}
    <script>
    $("#like").click(function(){
        $.ajax({
            url: $(this).data('url'),
            type: 'get',
            success: function(result) {
                alert(result.status)
                console.log($(this));
                $("#like").attr('disabled', "")
            }
        });
    });
    var swiper = new Swiper('.swiper-container', {
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
    </script>

{% endblock script %}
