{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container special_login">
        <div class="centering">

            <h1>{% trans "Регистрация" %}</h1>
            <p>{% trans "Если у вас есть аккаунт, можете" %} <a href="{% url 'login' %}">{% trans "зайти" %}</a>.</p>

            <form action="{% url 'signup' %}" class="signup" id="signup_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for='id_username'>{% trans "Логин:" %}</label>
                {{ form.username }}
                <label for="id_firstname">{% trans "Имя пользователя:" %}</label>
                {{ form.first_name }}
                <label for="id_lastname">{% trans "Фамилия пользователя:" %}</label>
                {{ form.last_name }}
                <label for="id_email">{% trans "Адрес электронной почты:" %}</label>
                {{ form.email }}
                <label for="id_phone">{% trans "Номер телефона:" %}</label>
                {{ form.phone }}
                <label for="id_password1">{% trans "Пароль:" %}</label>
                {{ form.password1 }}
                <label for="id_password2">{% trans "Подтверждение пароля:" %}</label>
                {{ form.password2 }}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                        <strong>{{ field.errors }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
                <input class="go_register" type="submit" value="{% trans "Зарегистрироваться" %}">
            </form>
        </div>
    </div>
{% endblock content %}