{% extends 'base.html' %}
{% load i18n %}
{% block content %}
        <div class="container messages" style="height: 100%;">
            <div class="bottom_wrapper">

                <div class="page_content">
                    <div class="title_page_mini">
                        {% trans "Работы" %} {{ username.first_name }} {{ username.last_name }}
                    </div>
                    <div class="row">
                        {% if participant_works.count != 0 %}
                        {% for participant in participant_works %}
                        <div class="col-md-4 col-sm-6 col-12" style="height: 400px">
                            <a href="{% url 'nominee_detail' participant.id %}">
                                <div class="cards">
                                    <img src="{{ participant.image.url }}" alt="photo">
                                    <div class="inside_text">
                                        <span style="color: white !important;">{{ participant.title }}</span>
                                        {{ participant.nominees.contest }}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h1>{% trans "У вас пока нет работ" %}</h1>                    
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}