{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
		{% include 'contest/base.html' %}
		<div class="bottom_wrapper">

			<div class="page_content">
				<div class="title_page_mini">
					{% trans "Победители" %}
				</div>
                <div class="row">
                    {% for participant in participant_works %}
                    <div class="col-md-4 col-sm-6 col-12" style="height: 400px;">
                        <a href="{% url 'nominee_detail' participant.id %}">
                            {% if participant.position == 1 %}
                                <div class="rating_nominees">
                                    <div class="rating_nominees_img">
                                        <img src="{% static 'images/cup.svg' %}" alt="">
                                    </div>
                                    <div class="rating_nominees_text">{% trans "1-е место" %}</div>
                                </div>
                            {% elif participant.position == 2 %}
                                <div class="rating_nominees">
                                    <div class="rating_nominees_img">
                                        <img src="https://nat-geo.ru/static/img/general/newIcon/cup.6c6237f7edad.svg" alt="">
                                    </div>
                                    <div class="rating_nominees_text">{% trans "2-е место" %}</div>
                                </div>
                            {% elif participant.position == 3 %}
                                <div class="rating_nominees">
                                    <div class="rating_nominees_img">
                                        <img src="https://nat-geo.ru/static/img/general/newIcon/cup.6c6237f7edad.svg" alt="">
                                    </div>
                                    <div class="rating_nominees_text">{% trans "3-е место" %}</div>
                                </div>
                            {%  endif %}
                            <div class="cards">
                                <img src="{{ participant.image.url }}" alt="photo">
                                <div class="inside_text">
                                    <span style="margin-bottom: 260px;">{{ participant.tags }}</span>
                                    <span style="color: white !important; font-size: 19px;">{{ participant.title }}</span>
                                    {{ participant.nominees.author.first_name }}
                                    {{ participant.nominees.author.last_name }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
		</div>
	</div>
{% endblock content %}