@media screen and (max-width: 1600px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1024px) {




    img#walk {
        display: none;
    }












    .section3 {
        height: 586px;
    }

    /*.modal-dialog { width: 90%;  }*/
}
@media screen and (max-width: 992px) {}




@media screen and (max-width: 768px) {

  /*  .header_links {
        display: none;
    }

    .telephone {
        display: none;
        }*/

body footer{
  height: auto;
}
.index_container{
  height: max-content !important;
}
.navbar.navbar-light.bg-light {
  padding: 18px 15px!important;
}
.navbar.navbar-dark.bg-dark{
  padding: 1.1rem 1rem !important;
}
#register_top {
    display: flex;
    font-size: 9px;
  }
 #register_top a {

    margin-right: 5px;
    margin-left: 0px;

}
.navbar.navbar-light.bg-light .container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}
.messages{
  height: max-content !important;
  margin:20rem;
}
.messages h1{
  height: 98%;
}
.navbar{
  display: block!important;
}
.btn_invite_form {
  margin-left: 4.5rem;
}
.share-icon {
    width: auto;
  }
  .links_wrapper {
    justify-content: space-between;
  }
  .share_links {
    flex-grow: 1;
}

  .container.special_login .centering {
    width: 80%;
  }
  .container.special_login {
    height: 120%;
}
  .top_bottom.flex {
    flex-direction: column;
  }
  .row{
    width: 104%;
  }
  .row_footer {
    margin-bottom: 22px;
  }

  .footer_menu_title {
    margin-bottom: 5px;
  }

  .nominees_inside img{
    height: 100%;
    width: 100%;
  }
}




@media screen and (max-width: 480px) {
    .container {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .for_me {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
      }
      
      .for_me p {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .g-recaptcha {
        margin-left: auto;
        margin-right: auto;
      }
      .row_footer{
        display:block!important;
        height: auto;
      }
      #invite {
        border-radius: 0px!important;
        background: #ffd300!important;
    }
    .contest_title {
      padding: 0;
  }
      
      .for_me p label {
        margin: 0;
      }
      .contest_title {
        font-size: 40px;
    }
    .img_logo{
      width: 90px;
      }

    .col-md-4.col-sm-6.col-12 {
      padding-right: 0;
      padding-left: 0;
    }
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    nav.navbar.navbar-light.bg-light {
      display: flex;
      flex-wrap: wrap;
  }
  
  .navbar.navbar-light.bg-light .container {
      flex-wrap: wrap;
  }
  
  form#change_language {
      justify-self: flex-end;
  }
  
  .localization {
      justify-self: flex-end;
      margin-top: 12px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
  }
  #langs{
      width: 83px;
      margin-right: 5px;
  }
}


@media screen and (max-width: 425px) {

}

@media screen and (max-width: 425px) {

}
@media screen and (max-width: 411px) {

}