@charset "UTF-8";
@font-face {
  font-family: "GothamProRegular"; 
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold.eot");
	src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBold.woff") format("woff"),
	url("../fonts/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProMedium";
	src: url("../fonts/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamProLight";
	src: url("../fonts/GothamProLight.eot");
	src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
a:hover {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  font-family: 'Montserrat',Helvetica,sans-serif;
}


.col-md-4.col-sm-6.col-12.special a {
  height: 49%;
  margin: 0;
}

.col-md-4.col-sm-6.col-12.special {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col-md-4.col-sm-6.col-12 a {
  height: 100%;
}

.col-md-4.col-sm-6.col-12 .cards img {
  height: 100%;
}

.col-md-4.col-sm-6.col-12{
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  max-height: 460px;

  margin-bottom: 25px;
}

.col-md-4.col-sm-6.col-12 .cards {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  height: 100%;
}

.col-md-4.col-sm-6.col-12 .cards img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}

.col-md-4.col-sm-6.col-12 .cards .inside_text span {

    display: block;

}

#register_top a {

    color:#000;
    background:#ffd300;
    padding: 10px 22px;
    margin-left: 5px;

}
.col-md-4.col-sm-6.col-12 .cards .status {
  position: absolute;
  top: 10px;
  font-size: 14px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.col-md-4.col-sm-6.col-12 .cards .status:before {content: '';display: inline-block;width: 12px;height: 12px;margin-right: 5px;content: '';border-radius: 50%;background: #c4c4c4;}

.col-md-4.col-sm-6.col-12 .cards .inside_text {
  position: absolute;
  font-family: 'Montserrat';
  line-height: 1.3;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  color: #c1c1c1;
}

.col-md-4.col-sm-6.col-12 .cards .date {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  text-align: center;
  color: #fff;
  transform: translateX(-50%);
  left: 50%;


}

.col-md-4.col-sm-6.col-12 a {
  transition: 0.3s;
  position: relative;
  display: block;

}

.col-md-4.col-sm-6.col-12 a:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  content: '';
  width: 100%;
  background: rgba(0,0,0,0.4);
  transition: 0.3s ease;
}
.col-md-4.col-sm-6.col-12 a:hover:before {
  opacity: 0.5;
}


.title_page {
  font-size: 32px;
  font-weight: 900;
  display: block;
  margin: 40px 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #262626;
  border-bottom: 4px solid #262626;
}


.upper_pos {
  background: white;
}


.col-md-4.col-sm-6.col-12 .cards .inside_text_in_index {
  position: absolute;
  font-family: 'Montserrat';
  bottom: 70px;
  text-align: center;
  color: #fff;
  left: 50%;
  line-height: 1.3;
  transform: translateX(-50%);
  z-index: 2;
}







.upper_pos {
  display: flex;
  flex-direction: column;
  min-height: 666px;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
}

.contest_tag {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
}

.main_position div {
  transition: 0.3s ease;
}

.contest_tag:hover {
  color: #ffd300;
}

.contest_title {
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 50px;
  text-align: center;
  font-size: 90px;
  width: 80%;
  color: #fff;
  font-weight: 600;
}

.contest_date {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 50px;
  font-size: 19px;
}

.contest_ending {
  font-family: 'Fira Sans';
  font-size: 18px;
  position: relative;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}

.rating_nominees {
  font-family: 'Fira Sans Condensed';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  padding: 21px;
  color:
  #fff;
  align-items: center;
}

.rating_nominees_img {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background:
  #ffd300;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.upper_pos:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: rgba(0,0,0,0);
}

.upper_pos {
  position: relative;
}

.main_position div {
  z-index: 1;
}
.main_position_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.main_position_form h1{
  margin-bottom: 4rem;
}

.nominees_inside img{
  width: 100%;
  height: 100%;
}

.under_pos {
  display: flex;
  /* margin-top: 15px; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 15px 10px 0 10px;
  background: #262626;
}

a.changing_links {
  margin-bottom: 15px;
  font-family: 'Fira Sans';
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  margin-right: 15px;
  cursor: pointer;
  transition: color .3s ease;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
}

a.changing_links:after {
  display: block;
  width: 2px;
  height: 16px;
  margin-left: 15px;
  content: '';
  background: #ffd300;
}

a.changing_links:hover {
  color: #838383;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}


span.margin {
  margin-left: 15px;
}







.bottom_wrapper {
  margin: 44px auto 0;
}



.links_wrapper {
  display: flex;
}

a.share_links {
  float: left;
  line-height: 16px;
  margin-right: 6px;
}

.share-icon {
  display: flex;
  width: 93px;
  height: 36px;
  margin-bottom: 10px;
  padding: 0 !important;
  cursor: pointer;
  transition: .3s linear;
  background: #000;
  align-items: center;
  justify-content: space-between;
}

.icon_itself {
  width: 100%;
  height: 100%;
  background: #ffd300;
  display: flex;
  transition: .3s linear;
  align-items: center;
  justify-content: center;
}

.share_counter {
  width: 0;
  min-width: 0;
  opacity: 0;
  color: #fff;
  display: flex;
  transition: .3s linear;
  align-items: center;
  justify-content: center;
}

i.fab.fa-vk {
  color: #000;
}
i.fab.fa-facebook {
  color: #000;
}
i.fab.fa-odnoklassniki {
  color: #000;
}
i.fab.fa-telegram {
  color: #000;
}
i.fab.fa-twitter {
  color: #000;
}

.favorite {
  font-family: 'Fira Sans';
  font-weight: 500;
  padding-bottom: 10px;
  color:
  #262626;
}

.favorite .favorite_icon {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background:
  #ffd300;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.favorite img {
  margin: 0 auto;
}

.favorite {
  display: flex;
  align-items: center;
}
.favorite p{
  margin-bottom: 0;
}

.shares i{
  color: #ffd300;
  font-size: 25px;
}

.share-icon:hover .share_counter {
  width: 50%;
  min-width: 46px;
  opacity: 1;
}


.bottom_wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title_page_mini {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: 'Fira Sans';
  font-size: 32px;
  font-weight: 900;
  display: block;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #262626;
  border-bottom: 4px solid #262626;
}
.share-icon {
  font-size: 13px;
}
.page_content {
  font-family: 'Fira Sans';
  line-height: 19px;
  color: #262626;
  display: flex;
  width: 100%;
  max-width: 990px;
  flex-direction: column;
}

.rich_text a:after {
  right: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 2px;
  content: '';
  transition: all .3s linear;
  background-color: #ffd300;
}

.rich_text a {
  position: relative;
  display: inline-block;
  transition: all .3s linear;
  color: #000;
}

.rich_text a:before {
  position: absolute;
  height: 2px;
  content: '';
  transition: all .3s linear;
  background-color: #ffd300;
  top: 0;
  left: 0;
  width: 0;
}


.rich_text a:hover:before {
  width: 100%;
}


.rich_text {
  line-height: 24px;
}

.blue a {
  color: #3edaef;
}

.blue a:before {content: none;}
a.changing_links.last:after {
  content: none;
}


.nominees_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 50px;
}

.nominees_filter_line {
  position: relative;
  width: 90px;
  height: 6px;
  margin: 0 10px;
  background: #262626;
}

.nominees_filter_line:after {
  position: absolute;
  top: -16px;
  width: 40px;
  height: 40px;
  content: '';
  transition: .3s ease;
  border-radius: 50%;
  background: #ffd300;
}

.nominees_filter_element a {
  color: #000;
  transition: color 0.3s ease;
}

.nominees_filter_element a:hover {
  color: #838383;
}

.nominees_filter_line.nominees_filter_line_right:after {
    right: -1px;
}

.nominees_filter_line.nominees_filter_line_left:after {
    left: -1px;
}

.under_pos_like {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 19px;
    padding-bottom: 35px;
    background: #262626;
    justify-content: center;
}
.btn_like{
    font-family: 'Fira Sans';
    font-size: 16px;
    display: flex;
    width: 225px;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    align-items: center;
    justify-content: center;
    background: #ffd300;
    border: none;
}
.btn_invite{
    font-family: 'Fira Sans';
    font-size: 16px;
    display: flex;
    width: 225px;
    height: 45px;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    align-items: center;
    justify-content: center;
    background-color: #ffd300;
    border: none;
    border-radius: 0;
}
button.btn_like img {
    display: block;
    margin-right: 7px;
}

.page_content_title {
    font-family: 'Montserrat';
    font-size: 38px;
    /* font-weight: 500; */
    line-height: 1.3;
    margin-bottom: 45px;
    color: #262626;
    margin-top: 5px;
    margin-bottom: 20px;
}


.author_info_inside {
    display: flex;
    margin-bottom: 31px;
    color: #a6a6a6;
}

a.author_info_name {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #3edaef;
}

.author_info_date {
    font-style: italic;
    margin: 0 10px;
}

.author_info_int {
    display: flex;
    align-items: center;
    font-family: 'Fira Sans';
    font-size: 13px;
}



.page_content_text {
    font-family: 'Fira Sans';
    line-height: 24px;
    position: relative;
    margin-bottom: 42px;
    color: #262626;
    width: 70%;
}

.cat_chouse {
    display: flex;
    margin: 15px 0 23px;
    padding-top: 15px;
    border-top: 1px solid #262626;
    flex-wrap: wrap;
}


.comment_title {
    font-family: 'Fira Sans';
    font-size: 32px;
    font-weight: 900;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 4px solid #000;
    align-items: center;
}

.comments_not_login {
    display: flex;
    margin-bottom: 50px;
    padding: 30px 20px;
    background: #f6f6f6;
    align-items: center;
}

.comments_not_login img {
    display: block;
    margin-right: 20px;
}

.comments_not_text {
    font-family: 'Fira Sans';
    font-size: 14px;
    line-height: 17px;
    color: #262626;
}

.comments_not_text a {
    color: #3edaef;
}




.slider_inner {
    height: 100%;
    width: 100%;
}

.slider_inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}








.comment_form_head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}



.comment_form_user span {
    font-family: 'Fira Sans';
    font-size: 15px;
    font-weight: 700;
    display: block;
    margin-left: 10px;
}

textarea#id_text {
    width: 100%;
    height: 113px;
    padding: 8px 10px;
    color: #a6a6a6;
    font-family: 'Fira Sans';
    font-size: 16px;
    /* overflow: auto; */
}

input.comment_form_submit {
    font-family: 'Fira Sans';
    font-size: 16px;
    display: flex;
    width: 175px;
    height: 44px;
    margin-top: 20px;
    margin-left: auto;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    outline: 0;
    background: #a6a6a6;
    align-items: center;
    justify-content: center;
}


body footer {
  max-width: 1110px;
  margin: 210px auto 0;
  width: 100%;
}
footer {
  color:
  #fff;
}

footer {
  font-family: 'Fira Sans';
  margin-top: 64px;
  padding: 30px 0 15px;
  background:
  #262626;
}

.content {
  position: relative;
  padding: 0 54px;
}

.flex {
  display: flex;
  justify-content: center;
}

.row_footer {
  margin-right: 3%;
}

.footer_menu_wrapp {
  width: 120px;
}


.footer_menu_title {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color:
  #a6a6a6;
}

.footer_menu_title::after {
  display: block;
  width: 33px;
  height: 2px;
  margin-top: 6px;
  content: '';
  background:
  #ffd300;
}


footer {
  color:
  #fff;
}

.footer_menu_list a {
  font-family: 'Fira Sans';
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color:
  #fff;
}


.navbar.navbar-light.bg-light {
  background-color: #ffffff!important;
}
.img_logo{
width: 200px;
}

#change_language{
  margin-bottom: 0;
}
.container.special_login {
    position: relative;
    height: 140%;
}
.container .centering {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.login input {
    width: 100%;
}
#invite {
    color:
    #000;
}

.nominess_items {
  width: 100%;
  max-width: 1050px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.nominess_items {
  display: flex;
  justify-content: center;
}

.nominess_items .nominees_item_active {
  background: #ffd300;
}

.nominess_items .nominees_item {
  font-family: 'Fira Sans';
  min-width: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background .3s ease;
  background: #f6f6f6;
}

.contest{
  height: 100%;
}

.login a {
  color: #3edaef;
}
.centering p a {
  color: #3edaef;
}
.login input {
  width: 100%;
  height: 50px;
  margin-bottom: 11px;
  padding-left: 10px;
  border: 1px solid #262626;
}
#id_remember {
  width: auto;
  margin-top: 15px;
  height: auto;
  position: relative;
  top: 4px;
  left: 5px;
}
.login-or {
  margin-bottom: 20px;
}
.messages{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4rem;
}
.primaryAction {
  font-size: 16px;
  display: inline-flex;
  min-width: 225px;
  padding: 12px;
  cursor: pointer;
  transition: .3s linear;
  text-transform: uppercase;
  color: #222 !important;
  border: 0;
  outline: 0;
  background: #ffd300;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.login-input{
  position: inherit;
}
.socialaccount_providers {
  text-decoration: none;
  list-style: none;
}
li {
  text-decoration: none;
}

.socialaccount_provider.vk i {
    color: #2787f5;
}



#signup_form {
  display: flex;
  flex-direction: column;
}
#signup_form input {
  width: 100%;
  height: 50px;
  margin-bottom: 11px;
  padding-left: 10px;
  border: 1px solid #262626;
  margin-bottom: 22px;
}
.go_register {
  font-size: 16px;
  display: inline-flex;
  min-width: 225px;
  padding: 12px;
  cursor: pointer;
  transition: .3s linear;
  text-transform: uppercase;
  color: #222 !important;
  border: 0;
  outline: 0;
  background: #ffd300;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.container .centering{
  margin-top: 30px;
}
#register_top {
  display: flex;
  align-items: center;
}
#register_top a {
  margin-right: 10px;
}
.for_me {
  margin-top: 30px;
  display: grid;
  width: 50%;
}
.g-recaptcha{
  margin: 1rem 0;
}


#invite {
  margin-bottom: 30px;
}

.shares.navbar-text a {
  margin-left: 5px;
}
.shares.navbar-text i {
  font-size: 20px;
}
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }

@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
50% {transform: scale(1); opacity: 1; }
100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
50% {-webkit-transform: scale(1);opacity: 1;}
100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
  @-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
    @-moz-keyframes circle-anim {
      0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
      30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
      100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
      @-webkit-keyframes circle-anim {
        0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
        30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
        100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
        @-o-keyframes circle-anim {
          0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
          30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
          100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
          @keyframes circle-anim {
            0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
            30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
            100% {transform: rotate(0deg) scale(1) skew(1deg);
              opacity: .1;}}
              @-moz-keyframes circle-fill-anim {
                0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
                50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
                100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
                @-webkit-keyframes circle-fill-anim {
                  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
                  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
                  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
                  @-o-keyframes circle-fill-anim {
                    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
                    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
                    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
                    @keyframes circle-fill-anim {
                      0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
                      50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
                      100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
                      /*--------------------------------------------------------------------------------------------*/









                      .swiper-container {
                        width: 100%;
                        height: 100%;
                      }
                      .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;

                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                      }
