{% load static %}

<footer>
        <div class="wrapper">
            <div class="content">
				<div class="top_bottom flex">
                    {% for footer in request.footer_detail_list %}
                    <div class="row_footer">
                        <div class="footer_menu_wrapp">
                            <div class="footer_menu_title">{{ footer.detail }}</div>
                            <div class="footer_menu_list"><a class="footer_menu_item" href="{{ footer.path }}">{{ footer }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </footer>