{% load i18n %}
{% load static %}
<nav class="navbar navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="{% url 'homepage' %}"><img class="img_logo" src="{% static 'images/ecogeo-200ru.png' %}" alt="" width="100"></a>
			<div id="register_top">
				{% if user.is_authenticated %}
                    <a href="{% url "logout" %}"> {% trans 'Выйти' %}</a>
                    {% if user.is_superuser is False %}
                        <a class="author_info_name" href="{% url "users" user.id %}">{{ user.username }}</a>
                    {% else %}
                        <a class="author_info_name" href="">{{ user.username }}</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'signup' %}">{% trans 'Зарегистрироваться' %}</a>
                    <a href="{% url 'login' %}">{% trans 'Войти' %}</a>
                {% endif %}
			</div>
            <div class="localization">
                <form id="change_language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select id="langs" name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option  value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                            <input type="submit" style="display: none;" id="submitLang">
                        </select>
                </form>
            </div>
		</div>
</nav>

<nav class="navbar navbar-dark bg-dark">

    <div class="container">
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "homepage" %}">{% trans "Основная" %}<span class="sr-only">(current)</span></a>
                </li>
            </ul>
          </div>
         <div class="shares navbar-text">
					
					
					<a href="https://www.facebook.com/EcologyofKazakhstan" target="_blank" class="share share__fb">
						<i class="fab fa-facebook" style="color: #ffd300;"></i>
					</a>
					
					<a href="https://instagram.com/minecologykz?igshid=1pmct7kiw5muc" target="_blank" class="share share__ins">
						<i class="fab fa-instagram" style="color: #ffd300;"></i>
					</a>
                    
                    <a href="https://t.me/minecology" target="_blank" class="share share__vk">
						<i class="fab fa-telegram" style="color: #ffd300;"></i>
                    </a>
            </div>

    </div>

</nav>
